@font-face {
    font-family: 'formulaFont';
    src: url(resources/forumla1bold.ttf);
    font-weight: bold;
}

.header h1{
    font-family: 'formulaFont';
    font-weight: bold;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 0px;
    margin: auto 20%;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 55px;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    /* grid-template-columns: 5, 1fr; 5 adet 1fr'lik yer*/
}

.grid > div{
    margin: 0px;
    padding: 0px;
    justify-self: center;
}

.flatbox{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.flatbox button{
    border: 3px solid black;
    background-color: rgb(255, 70, 70);
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 25px;
    font-family: formulaFont;
    transition-duration: 0.4s;
}

.flatbox button:hover{
    cursor: pointer;
    background-color: red;
}

.flatbox button:active{
    background-color: rgb(163, 0, 0);
}